/* Estilos básicos para o formulário */
h3 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.contato-imagem-classe {
  width: 50%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 10px;
}

form input,
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

form input[type="submit"],
form input[type="reset"] {
  width: auto;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover {
  background-color: #555;
}

/* Estilos para o rodapé */
footer {
  text-align: center;
  padding: 10px;
  color: white;
  margin-top: 20px;
  border-radius: 4px;
}

footer a {
  color: #4CAF50;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}