/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    --cor-primaria: #586F7C;
    --cor-secundaria: #B8DBD9;
    --cor-terciaria: #04724D;
    --cor-bg: #F4F4F9;
}

/* Configuração base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-bg);
}

.main-elements {

    /* Definimos a alguma e lagura do item com width e height, 
    definimos que ele terá uma lagura (width) baseada na tela, e uma altura (heigth) fixa
    de 86px */
    width: 95%;
    height: 100%;

    /* Nesta parte, temos margin controlando a 'autoposição' do item,
    o lugar dele dentro do espçao da pagina web, detrmindando que ele irá ficar
    no centro */
    margin: 0px auto;

    /* Aqui definimos as cores, e cmo elas irão se comportar no background e nos
    elemnetos internos. */
    color: rgb(0, 0, 0);


    /* Neste momento display flex determina como os itens
    precisam se comportar dentro do container do objeto, neste caso, 
    '.boxheader', e utilizamos suas ferramentas para controlar o itens 
    internos, como aling-items e justify-content. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Conteúdo principal */
h1 {
    text-align: center;
    margin-top: 20px;
}

main {
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}