/* Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    --cor-primaria: #586F7C;
    --cor-secundaria: #B8DBD9;
    --cor-terciaria: #04724D;
    --cor-bg: #F4F4F9;
}

/* Configuração base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cor-bg);
}

.main-elements {

    /* Definimos a alguma e lagura do item com width e height, 
    definimos que ele terá uma lagura (width) baseada na tela, e uma altura (heigth) fixa
    de 86px */
    width: 95%;
    height: 100%;

    /* Nesta parte, temos margin controlando a 'autoposição' do item,
    o lugar dele dentro do espçao da pagina web, detrmindando que ele irá ficar
    no centro */
    margin: 0px auto;

    /* Aqui definimos as cores, e cmo elas irão se comportar no background e nos
    elemnetos internos. */
    color: rgb(0, 0, 0);


    /* Neste momento display flex determina como os itens
    precisam se comportar dentro do container do objeto, neste caso, 
    '.boxheader', e utilizamos suas ferramentas para controlar o itens 
    internos, como aling-items e justify-content. */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Conteúdo principal */
h1 {
    text-align: center;
    margin-top: 20px;
}

main {
    padding: 20px;
}
/* Centraliza a div dos botões */
.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaço entre os botões */
    margin-top: 20px;
}

/* Estiliza os links como botões */
.btn-group a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--cor-primaria); /* Cor de fundo do botão */
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}
.empresa {	
    height: 90vh;
    width: 90%;

    font-size: 18px;
}

/* Rodapé */
footer {
    background-color: var(--cor-primaria);
    height: 50px;
    color: white!important;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    padding: 10px;
    /* position: absolute; */
    width: 100%;
    bottom: 0;
}

